html, body {
  background-color: #333;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-family: 'Metal Mania', cursive;
}

.hud {
  height: 100px;
  width: 720px;
  background-color: #000;
  background-image: url(../media/hud.png);
  background-repeat: no-repeat;
  margin-left: 110px;
  background-position: 5px 5px;
}